@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
#cv-template{
    display: none;
}

/* #cv-form{
    display: none;
} */

.myimg{
    border-radius: 50%;
    width: 100px;
    margin-top: -30px;
}

.background{
    background-color: rgb(75, 72, 72);
    color: white;
}
#backgroundRight{
    background-color: rgb(75, 72, 72);
    color: white;
}
i{
    color: white;
    padding: 20px;
    display: flex;
    white-space: 10px;
}

.imglogo{ 
    display: inline
}


/* Start  */

.Contact{
    text-align: left;
    display: flex;
}

hr{
    color: black;
    border-width: 10px;
}

@media print {

    html,
    body {
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }

}
